.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 10px;
}

button {
  cursor: pointer;
}

.play-sound {
  margin: 10px;
}

.answering-container {
  width: 100%;
}

.answers {
  display: flex;
  justify-content: center;

  .answer {
    border: none;
    border-bottom: solid 2px;
    width: 50px;
    height: 30px;
    margin: 5px;
    text-align: center;
    font-size: 20px;
  }
}

.options {
  text-align: center;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .option {
    margin: 5px;
    width: 50px;
    height: 30px;
    font-size: 20px;
    border: solid 2px;
    border-radius: 10px;
  }
}

.tools-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}